footer {
	padding: 1em;
	color: black;
	background-color: white;
	clear: left;
	text-align: center;
}

table {
	width: 100%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
}

table tr:nth-child(even) {
	background-color: #eee;
}

table tr:nth-child(odd) {
	background-color: #fff;
}

table th {
	background-color: lightblue;
	color: black;
}

.header{
  	overflow:auto;
 }


.header img {
  float: left;
  width: 100px;
  height:100px;
}

.header h2 {
  color: darkblue;
  float: left;
  padding-left: 20px;
}

.statusButton {
	font-size: 16px;
	padding: 7px 16px;
	background-color: white;
	color: black;
	border: 2px solid green;
}

.statusButton:hover {
	background-color: lightgrey;
}
