#xmem-top-panel {

	width: 100%;
//	outline: solid green 2px;
	height: 50px;
	min-width: 600px;

}
	
#xmem-wrapper{

	height: 0;
	width: 100%;
//	outline: solid red 3px;
	float: left;
}


#xmem-bottom-panel{

	clear:both;
//	outline: solid blue 2px;
	height: 10px;
	
}