@charset "utf-8";
/*************************************************************************
 * XDAQ Components for Distributed Data Acquisition                      *
 * Copyright (C) 2000-2014, CERN.                                        *
 * All rights reserved.                                                  *
 * Authors: A.Forrest, L.Orsini, A.Petrucci								 *
 * For the licensing terms see LICENSE.                                  *
 * For the list of contributors see CREDITS.                             *
 *************************************************************************/

input[type=text],input[type=password],input[type=email],input[type=url],input[type=date],input[type=month],input[type=time],input[type=datetime],
input[type=datetime-local],input[type=week],input[type=number],input[type=search],input[type=tel],input[type=color],select,textarea
{
  display:inline-block;
  border:1px solid #ccc;
  font-size:100%;
  box-shadow:inset 0 1px 3px #ddd;
  border-radius:4px;
  -webkit-transition:.3s linear border;
  -moz-transition:.3s linear border;
  -ms-transition:.3s linear border;
  -o-transition:.3s linear border;
  transition:.3s linear border;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding:.5em .6em;
  position:relative;
}

input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=url]:focus,input[type=date]:focus,input[type=month]:focus,
input[type=time]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=week]:focus,input[type=number]:focus,
input[type=search]:focus,input[type=tel]:focus,input[type=color]:focus,select:focus,textarea:focus
{
  border-color:#129FEA;
}

input[type=file]:focus,input[type=radio]:focus,input[type=checkbox]:focus
{
  outline:1px auto #129FEA;
}

input[type=text][disabled],input[type=password][disabled],input[type=email][disabled],input[type=url][disabled],
input[type=date][disabled],input[type=month][disabled],input[type=time][disabled],input[type=datetime][disabled],
input[type=datetime-local][disabled],input[type=week][disabled],input[type=number][disabled],input[type=search][disabled],
input[type=tel][disabled],input[type=color][disabled],select[disabled],textarea[disabled]
{
  cursor:not-allowed;
  background-color:#eaeded;
  color:#cad2d3;
}

input[readonly],select[readonly],textarea[readonly]
{
  background:#eee;
  color:#777;
  border-color:#ccc;
}

input:focus:invalid,textarea:focus:invalid,select:focus:invalid
{
  color:#b94a48;
  border:1px solid #ee5f5b;
}

input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus
{
  border-color:#e9322d;
}

input[type=file]:focus:invalid:focus,input[type=radio]:focus:invalid:focus,input[type=checkbox]:focus:invalid:focus
{
  outline-color:#e9322d;
}

select
{
  border:1px solid #ccc;
  background-color:#fff;
}

select[multiple]
{
  height:auto;
}

label
{
  font-size:90%;
  margin:.5em 0 .2em;
}

fieldset
{
  border:0;
  margin:0;
  padding:.35em 0 .75em;
}

legend
{
  display:block;
  width:100%;
  font-size:100%;
  color:#333;
  border-bottom:1px solid #e5e5e5;
  padding:.3em 0;
  margin-bottom:10px;
}

fieldset
{
  margin-bottom:10px;
}

input
{
  display:inline;
  border-radius:0;
  position:relative;
  //top:-1px;
  margin:0;
  padding:10px;
}

input:focus
{
  z-index:2;
}

.xdaq-form
{
	//font-size: 90%;
	color: #555555;
}

textarea
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
}

.xdaq-input-postfix
{
	display:inline;
	z-index:3;
	position:relative;
	top: -1px;
	left: 1px;
}