@charset "utf-8";
/* CSS Document */

.xdaq-table-tree .xdaq-table-tree-hidden
{
	//display: none;
}
.xdaq-table-tree tr
{
	height: 30px;
	line-height:30px;
}

.xdaq-table-tree tr.xdaq-table-tree-expanded td:first-child
{
	background: url(../../images/framework/xdaq-arrow-down.png) no-repeat;
	background-size: 10px 10px;
}

.xdaq-table-tree tr.xdaq-table-tree-not-expanded td:first-child
{
	background: url(../../images/framework/xdaq-arrow-right.png) no-repeat;
	background-size: 10px 10px;
}

.xdaq-table-tree input[type=text]
{
	height:30px;
	line-height: 30px;
	padding: 0px;
	padding-left: 5px;
}

.xdaq-table-tree .indenter 
{
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: right;

  /* Disable text selection of nodes (for better D&D UX) */
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;

  /* Force content-box box model for indenter (Bootstrap compatibility) */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  width: 19px;
}

.xdaq-table-tree .indenter a 
{
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  text-decoration: none;
  width: 19px;
}
.xdaq-table-tree span 
{
  background-position: center left;
  background-repeat: no-repeat;
  padding: .2em 0 .2em 1.5em;
}
.xdaq-table-tree tr.collapsed .indenter a
{
  background-image: url(/hyperdaq/images/framework/xdaq-treetable-expand.png);
}

.xdaq-table-tree tr.expanded .indenter a 
{
  background-image: url(/hyperdaq/images/framework/xdaq-treetable-collapse.png);
}