.hyperdaq-exception-viewer-hidden
{
	display:none;
}

/* selected row in exception table below tree table */
tbody>.hyperdaq-exceptions-table-selected
{
	outline: 1px solid rgb(66, 184, 221);
	background: #EEE;
}

#hyperdaq-exception-viewer-tree tbody>tr
{
	cursor: pointer;
}