@charset "utf-8";
/*************************************************************************
 * XDAQ Components for Distributed Data Acquisition                      *
 * Copyright (C) 2000-2014, CERN.                                        *
 * All rights reserved.                                                  *
 * Authors: A.Forrest, L.Orsini, A.Petrucci								 *
 * For the licensing terms see LICENSE.                                  *
 * For the list of contributors see CREDITS.                             *
 *************************************************************************/

button, input[type=submit], input[type=reset], input[type=button]
{
	display: inline;
	line-height: normal;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	font-size: 90%;
	overflow: visible;
	color: rgba(0, 0, 0, 0.8);
	border: 0 rgba(0,0,0,0);
	
	text-decoration: none;
	border-radius: 2px;
	-webkit-transition: 0.1s linear 0;
	-ms-transition: 0.1s linear box-shadow;
	-o-transition: 0.1s linear box-shadow;
	transition: 0.1s linear box-shadow;
	padding: 0.5em 1.5em;
}

button
{
	background-color: #E6E6E6;
}

.xdaq-submit-button, input[type=submit]
{
	background: #0078E7; /* slightly darker blue than the xdaq-blue just for submit buttons */
}
.xdaq-reset-button, input[type=reset]
{
	background: rgb(244, 233, 40); /* yellow */
}

button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover
{
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0)) !important;
	background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0)) !important; /* Safari fix */
}

button:active, input[type=submit]:active, input[type=reset]:active, input[type=button]:active
{
	box-shadow:0 0 0 1px rgba(0,0,0,.3) inset,0 0 6px rgba(0,0,0,.2) inset !important;
}

.xdaq-button-disabled,.xdaq-button-disabled:hover,.xdaq-button-disabled:focus,.xdaq-button-disabled:active, 
.xdaq-button[disabled],.xdaq-button[disabled]:hover,.xdaq-button[disabled]:focus,.xdaq-button[disabled]:active, 
button[disabled], input[type=submit][disabled], input[type=reset][disabled], input[type=button][disabled]
{
	border:0;
	background-image:none;
	filter:alpha(opacity=40);
	-khtml-opacity:.4;
	-moz-opacity:.4;
	opacity:.4;
	cursor:not-allowed;
	box-shadow:none;
}
