@charset "utf-8";
/*************************************************************************
 * XDAQ Components for Distributed Data Acquisition                      *
 * Copyright (C) 2000-2014, CERN.                                        *
 * All rights reserved.                                                  *
 * Authors: A.Forrest, L.Orsini, A.Petrucci								 *
 * For the licensing terms see LICENSE.                                  *
 * For the list of contributors see CREDITS.                             *
 *************************************************************************/
 
/*
 * Control Panel only css styles
 */

/*
 * Log Viewer
 */
#xdaq-logviewer-wrapper
{
	
}

#xdaq-logviewer-wrapper input[type=button]
{
	width: 85px;
}

#xdaq-logviewer-frame
{
	width: 95%;
	height: 800px;
	border: 1px solid #999;
}

.xdaq-controlpanel-button
{
	width: 100px;
	height: 40px;
}