body {background-color: #f0f0f0;}


table.tabtable tr td { padding: 20px;
		       vertical-align: top; }


table.registertable { 
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

table.registertable tr td, table.itemtable tr th { 
    padding: 2px 4px 2px 4px;
    border-right: 1px solid black;
}
table.registertable.td { font-size: 80%; }
table.registertable tr th { background-color: #a0a0ff; }

table.registertable tr:nth-child(even) td { background-color: #ffff80; }
table.registertable tr:nth-child(odd) td { background-color: #f0f000; }


table.itemtable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black; 
}

table.itemtable tr td, table.itemtable tr th { 
    padding: 2px 4px 2px 4px;
    border-right: 1px solid black;
}

table.itemtable.td { font-size: 80% }
table.itemtable tr th {background-color: #a0a0ff; }
table.itemtable tr.even td {background-color: #ffff80; }
table.itemtable tr.odd td {background-color: #f0f000; }

p.itemTableTitle { font-size: 120%;
		   font-weight: 700; }
.bitset { color: #c03000;
          font-weight: 700;}
.bitreset { color: #000000; }


table.XDAQParameters {
    border-collapse:collapse;
}
table.XDAQParameters tbody tr.DocumentationSeparator td {
    background: #ffc040;
    border-top: 2px solid #505050;
    border-bottom: 2px solid #505050;
    text-align: center;
}
table.XDAQParameters td,table.XDAQParameters th {
    border: 1px solid #505050;
}
table.XDAQParameters td {
    padding: 2px 4px 2px 4px;
} 
table.XDAQParameters tr:nth-child(even) {
    background: #ffff60;
} 
table.XDAQParameters tr:nth-child(odd) {
    background: #ffffb0;
} 

table.ferolheader td,tr {
    padding: 0px 10px 0px 10px;
}


/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #D0D070;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody tr td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #ffffff;
	vertical-align: top;
}
table.tablesorter tbody tr:nth-child(odd) td {
	background-color:#F0F0C0;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
.hidden { display: none; }
