<!-- views/home.ejs -->
<% layout('/layout/page') -%>

<% block('title', 'Sorcerer/applications'); -%>
	<h3>Applications</h3>
	<table class="xdaq-table" >
		<thead>
			<tr>
				<th>Class</th>
				<th>Instance</th>
				<th>LID</th>
				<th>Service</th>
				<th>Groups</th>
				<th>Context</th>
				<th>Properties</th>
			</tr>
		</thead>
	<tbody>
	<% applications.forEach((application) => { %>
		<tr>
			<td><%= application.class %></td>
			<td><%= application.instance %></td>
			<td><%= application.lid %></td>
			<td><%= application.service %></td>
			<td><%= application.group %></td>
			<td><%= application.context %></td>
			<td><a href="/urn:xdaq-application:service=sorcerer/parameters2xml?lid=<%= application.lid %>">XML</a> / <a href="/urn:xdaq-application:service=sorcerer/propertieseditor?lid=<%= application.lid %>">Edit</a></td>
		</tr>
	<% }) %>
	</tbody>
	</table>	



