<!-- views/home.ejs -->
<% layout('/layout/page') -%>

<% block('title', 'Sorcerer/groups'); -%>
	<h3>Endpoints</h3>
	<table class="xdaq-table" >
		<thead>
			<tr>
				<th>URL</th>
				<th>Protocol</th>
				<th>Service</th>
				<th>Network</th>
				<th>Alias</th>
				<th>Active</th>
			</tr>
		</thead>
	<tbody>
	<% endpoints.forEach((endpoint) => { %>
		<tr>
			<td><%= endpoint.url %></td>
			<td><%= endpoint.protocol %></td>
			<td><%= endpoint.service %></td>
			<td><%= endpoint.network %></td>
			<td><%= endpoint.alias %></td>
			<td><%= endpoint.active %></td>
			
		</tr>
	<% }) %>
	</tbody>
	</table>	



