<!-- views/home.ejs -->
<% layout('/layout/page') -%>

<% block('title', 'Sorcerer/groups'); -%>
	<h3>Groups</h3>
	<table class="xdaq-table" >
		<thead>
			<tr>
				<th>Zone</th>
				<th>Group</th>
				<th>Number of Applications</th>
			</tr>
		</thead>
	<tbody>
	<% groups.forEach((group) => { %>
		<tr>
			<td><%= group.zone %></td>
			<td><a href="/groupinfo?zone=<%= group.zone %>&group=<%= group.name %>"><%= group.name %></a></td>
			<td><%= group.applications %></td>
		</tr>
	<% }) %>
	</tbody>
	</table>	



