<!-- views/home.ejs -->
<% layout('/layout/page') -%>

<% block('title', 'Sorcerer'); -%>


<div class="row">

	<% applications.forEach((application) => { %>
	<div class="col-md-2">
		<div class="thumbnail">
			<a href="/<%= application.urn %>"><img  src=<%= application.icon %>  alt="..."></a>
			<!-- a href="/forward/<%= application.lid %>"><img  src=<%= application.icon %>  alt="..."></a -->
			
			<!-- div class="caption" -->
			<!-- /div -->
			<p><b><%= application.class %></b></p>
			<p><%= application.urn %></p>
			<p class="title"><%= application.service %></p>
			<p ><a href="#" data-toggle="modal" data-target="#application-info" >  <span class="glyphicon glyphicon-info-sign"></span></a></p>
		</div>
	</div>
	<% }) %>

</div>
