<!-- views/home.ejs -->
<% layout('/layout/page') -%>

<!-- % block('title', 'Sorcerer/groups'); -% -->


<style type="text/css">

  /* custom alignment (set by 'renderColumns'' event) */
  td.alignRight {
     text-align: right;
  }
  td.alignCenter {
     text-align: center;
  }
  
   td.xsi {
     text-align: left;
      width: 150px;
  }
  
  .table-condensed{
  font-size: 14px;
}
</style>

<script type="text/javascript">

/*
  SOURCE = [
    {title: "node 1", folder: true, expanded: true, children: [
      {title: "node 1.1", type: "long" , foo: "a"},
      {title: "node 1.2", type: "long" , foo: "b"}
     ]},
    {title: "node 2", folder: true, expanded: false, children: [
      {title: "node 2.1", foo: "c"},
      {title: "node 2.2", foo: "d"}
     ]}
  ];
*/

 var glyph_opts = {
    preset: "bootstrap3",
    map: {
    }
  };
  
$(function(){

  $("#tree").fancytree({
    checkbox: true,
    titlesTabbable: true,     // Add all node titles to TAB chain
    quicksearch: true,        // Jump to nodes when pressing first character
    source: <%-JSON.stringify(source)%>,
   // source: { url: "ajax-tree-products.json"},

    extensions: ["edit", "table", "gridnav", "glyph"],
   
    
	glyph: glyph_opts,
    edit: {
      triggerStart: ["f2", "shift+click", "mac+enter"],
      close: function(event, data) {
        if( data.save && data.isNew ){
          // Quick-enter: add new nodes until we hit [enter] on an empty title
          $("#tree").trigger("nodeCommand", {cmd: "addSibling"});
        }
      }
    }, 
    
    table: {
      indentation: 20,
      nodeColumnIdx: 2,
      checkboxColumnIdx: 0
    },
    gridnav: {
      autofocusInput: false,
      handleCursorKeys: true
    },

    createNode: function(event, data) {
      var node = data.node,
        $tdList = $(node.tr).find(">td");

      // Span the remaining columns if it's a folder.
      // We can do this in createNode instead of renderColumns, because
      // the `isFolder` status is unlikely to change later
      if( node.isFolder() ) {
        $tdList.eq(2)
          .prop("colspan", 6)
          .nextAll().remove();
      }
    },
    renderColumns: function(event, data) {
      var node = data.node,
        $tdList = $(node.tr).find(">td");

      // (Index #0 is rendered by fancytree by adding the checkbox)
      // Set column #1 info from node data:
      $tdList.eq(1).text(node.getIndexHier());
      // (Index #2 is rendered by fancytree)
      // Set column #3 info from node data: example for key  $tdList.eq(3).text(node.key); 
       $tdList.eq(3).text(node.data.type );
      $tdList.eq(4).find("input").val(node.data.value);

      // Static markup (more efficiently defined as html row template):
      // $tdList.eq(3).html("<input type='input' value='" + "" + "'>");
      // ...
    }
  });
  
  
   
});
</script>


  <table id="tree" class="table table-condensed table-hover table-striped fancytree-fade-expander">
    <colgroup>
    <col width="30px">
    <col width="50px">
    <col width="350px">
    <col width="50px">
    <col width="50px">

    </colgroup>
    <thead>
      <tr> <th></th> <th></th> <th>Name</th> <th>Type</th> <th>Value</th></tr>
    </thead>
    <tbody>
      <!-- Define a row template for all invariant markup: -->
      <tr>
        <td class="alignCenter"></td>
        <td></td>
        <td></td>
        <td  class="xsi" ></td>
        <td  class="col-xs-4"> <input type="text" class="form-control "  name="value" type="input" placeholder=".col-xs-4"></td>
      </tr>
    </tbody>
  </table>
  			


  