
/*CLASSES*/
#classes-box
{    
    display: inline-block;
    overflow-y:auto;
    overflow-x:hidden;
    width: 35%;  
    outline: solid lightgrey 1px;
}


.xdaq-hyperdaq-home-widget-image
{
	width: 64px;
	height:64px;
}


.xdaq-hyperdaq-home-widget-container
{	
	width: 150px;
	height: 150px;
}



#classes-overview
{   
    float: right;
    display: block;
    width: 64%;
	//padding-left: 10px;
	overflow-y:auto;
	overflow-x:hidden;
	outline: solid lightgrey 1px;
}

#classes-table
{
	width: 100%;

}

/*HOSTS*/

#host-box
{   
	 display: inline-block;
	 overflow-y:auto;
	 overflow-x:hidden;
	 width: 35%;  
	 outline: solid lightgrey 1px;
}

#host-overview
{
	 float: right;
	 display: block;
	 width: 64%;
	 //padding-left: 10px;
	 overflow-y:auto;
	overflow-x:hidden;
	outline: solid lightgrey 1px;
	
}
#host-table
{
	width: 100%;
}

#server-icons
{
    display: grid;
}

/*SUMMARY*/

#summary-table
{
  width: 100%;
}

#summary-table th
{ 
  width:50%;
}

/*FULL_TABLE*/
#names-table
{
  width: 100%;
  
}