blockquote.helpContents
{
	margin: 0;
	padding: 5px;
	position: absolute;
	top: -1000px;
	left: -1000px;
	border: 1px solid #000;
	z-index: 100;
	background-color: #F4F4D0;
	filter:alpha(opacity=75); 
	opacity: 0.75;
	-moz-border-radius: 5px;
	-moz-opacity: .75;
	font-family: "lucida grande", verdana, sans-serif;
	font-size: 10pt;
}

#styles1Help
{
	color: red;
}

#styles2Help
{
	border: 10px solid yellow;
}
#styles3Help
{
	background-color: green;

}
#styles4Help
{
	background-color: red;
	border: 10px solid yellow;
	color: green;
}
#styles5Help
{
	width: 10px;
}
#styles6Help
{
	-moz-opacity: .50;
	-moz-border-radius: 15px;
}
#styles7Help
{
	color: blue;
	background-color: red;
	font-weight: bold;
}
#styles8Help
{
	border: 1px dotted red;
	color: green;
	background-color: yellow;
}
#styles9Help
{
	border: 5px dotted yellow;
}
#styles10Help
{
	border: 1px dotted red;
	color: green;
	background-color: red;
}
#styles11Help
{
	color: yellow;
	font-style: italic;
	border: 10px solid blue;
}

