table#properties { 
	margin-top: 1em;
        border: 0px solid #666666;
}

table.properties { 
	margin-top: 1em;
        border: 0px solid #666666;
}

tbody#properties { 
        border: 0px solid #666666;
}

tbody.properties { 
        border: 0px solid #666666;
}

tr#properties_header { 
	font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;
	background-color: #ddd;
}

tr.properties_header { 
	font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;
	background-color: #ddd;
}

tr#properties_even { 
	background-color: #fff;
}

tr#properties_odd { 
	background-color: #dde;
}

td#properties_name { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 0px solid #D9D9D9;
	text-align: right;
	color: grey;
}

td.properties_name { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 0px solid #D9D9D9;
	text-align: right;
	color: grey;
}

td#properties_value { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;
	text-align: left;
	color: black;
}

td.properties_value { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;
	text-align: left;
	color: black;
}

th#properties { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;
}

th.properties { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 0px solid #D9D9D9;
	text-align: left;
}
