body { background: #f0f0f0; }
h1 { font-size: 120%;}
table.montab tr td, table.montab tr th, table.itemtable tr th { 
    padding: 2px 4px 2px 4px;
    border-right: 1px solid black;
}

table.montab { border-collapse: collapse;
	       border: 1px solid black;}
table.montab tr td { font-size: 80%}
table.montab tr th { font-size: 70%}
table.montab tr th {background-color: #a0a0ff; }
table.montab tr td.even { background: #ffff80; }
table.montab tr td.odd { background: #f0f000; }

table.montab tr td.separator {
    text-align: center;
    background-color: #a0a0ff;
    font-size: 70%;
}