<html>
<head>
    <title><%=blocks.title%></title>
    <meta charset="utf-8">
    <title>Node.js Blog</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
 	<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.26.0/skin-bootstrap/ui.fancytree.css" rel="stylesheet">
 	
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
 	
 	<script src="//cdn.jsdelivr.net/npm/ui-contextmenu/jquery.ui-contextmenu.min.js"></script>
 	
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.26.0/jquery.fancytree-all-deps.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.6.0/src/jquery.fancytree.dnd.js"></script>
    <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.6.0/src/jquery.fancytree.edit.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.6.0/src/jquery.fancytree.gridnav.js"></script -->
    
     <%-partial('../partials/xdaq')%>
     
    <style>
      .navbar-brand {
  			padding: 0px;
		}
		.navbar-brand>img {
  			height: 70px;
  			padding: 0px;
  			//width: auto;
		}
			.thumbnail>a>img { 
		 width: 100px; /* Set a small width */
			//height:80%;
   			// width:80%;
}
		.thumbnail {
			//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		
  			//height: auto;
  			 text-align: center;
		}
		.thumbnail>a>img:hover {
   			 box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
   			 
		}
		.title {
  			color: grey;
  			font-size: 18px;
			}
			
		.carousel{
    		background: #2f4357;
    		margin-top: 20px;
    		border-radius: 5px 5px 5px 5px;
    		overflow: hidden;
		}
		.carousel .item{
    		min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
		}
		.carousel .item img{
    		margin: 0 auto; /* Align slide image horizontally center */
		}
		.bs-example{
			margin: 5px;
		}
		#login-dp{
    			min-width: 250px;
    			padding: 14px 14px 0;
    			overflow:hidden;
    			background-color:rgba(255,255,255,.8);
}

html {
  position: relative;
  min-height: 100%;
}

		body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
//.footer {
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//  /* Set the fixed height of the footer here */
 /// height: 30px;
 // background-color: #f5f5f5;
//}
		
		//footer{
   		// width:100%;
   		// min-height:40px;    
   		// background-color: #222; /* This color gets inverted color or you can add navbar inverse class in html */
		//}
    </style>
</head>
<body>
<header>
    <!-- %-blocks.header% -->
</header>

 <div class="container-fluid">
    <%-partial('../partials/navbar')%>
    <div id="application-carousel" class="collapse">
    		<%-partial('../partials/carousel')%>
     </div>

        <div class="row">
        <div class="col-lg-12">
 
 
    <%-body -%>
    <%-partial('../partials/footer')%>
</div>
    <!-- %-blocks.footer% -->
       <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <!-- Modal -->
	  <div class="modal fade" id="about" role="dialog">
	    <div class="modal-dialog modal-lg">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">About</h4>
	        </div>
	        <div class="modal-body">
	          <p>XDAQ Sorcerer V1.0, designed by Luciano ORSINI CERN/CMD</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal -->
	  <div class="modal fade" id="application-info" role="dialog">
	    <div class="modal-dialog modal-lg">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Application Info</h4>
	        </div>
	        <div class="modal-body">
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>





 
