/* Assign size of body 100% to be able to resize inner divs */
body {
	margin:0;
	padding:0;
	height:100%;
}

h2 {
	font-family: arial, "lucida console", sans-serif;
	font-size: 14pt;
	text-align: center;
	margin: 1em;
}

div.clickable {
	float:left;
	border:1px;
	margin: 0.5em;
	padding: 0.5em;
}

img.clickable:hover {
	filter:alpha(opacity=50); 
	-moz-opacity: 0.5; 
	opacity: 0.5;
}

img.clickable {
	filter:alpha(opacity=100);   
	-moz-opacity: 1.0;   
	opacity: 1.0;
}
</style>
