/*
 label {font-size: 10pt; font-family: arial;}
 table {font-size: 10pt; font-family: arial; text-align: left;}
 form {font-size: 10pt; font-family: arial; text-align: left; }
 fieldset {font-size: 10pt; font-family: arial; text-align: left; }
 legend {font-size: 10pt; font-family: arial; text-align: left; }
 h1 {font-family: arial; }
 h2 {font-family: arial; }
 h3 {font-family: arial; }
 h4 {font-family: arial; }
 p {font-size: 10pt; font-family: arial; text-align: left; color:red;}
*/

/* Assign size of body 100% to be able to resize inner divs */
body {
	margin:0;
	padding:0;
	height:100%;
}

input#log_table_search {
	font-family: arial, "lucida console", sans-serif;
	text-align:left;
	width: 100%;
	padding: 1em;
	background-color: #CCCCCC;
	border: 1px solid #666666; 
	/*background: green; */ 
}

input.default_button { 
	font-family: arial, "lucida console", sans-serif;
	font-size : 80%;
	float: right;
	width: auto;
}

input#settingsbutton { 
	font-family: arial, "lucida console", sans-serif;
	float: right;
	width: auto;
}

fieldset#settings {
	font-family: arial, "lucida console", sans-serif;
	text-align:left;
	padding: 1em;
	/*background: green; */ 
}

fieldset.default {
	font-family: arial, "lucida console", sans-serif;
	text-align:left;
	padding: 1em;
	/*background: green; */ 
}

legend#settings {
	font-family: arial, "lucida console", sans-serif;
	font-size : 80%;
	/* padding: 1em; */
	/*background: green; */ 
}

label#settings {
	font-family: arial, "lucida console", sans-serif;
	display: block; width: 17ex; float: left;
	text-align:right;
	font-size : 80%;
	padding: 0em 1em;
	/*background: green; */ 
}

input#settings {
	font-family: arial, "lucida console", sans-serif;
	text-align:left;
	padding: 1em;
	background-color: #CCCCCC;
	border: 1px solid #666666; 
	/*background: green; */ 
}

input.default {
	font-family: arial, "lucida console", sans-serif;
	font-size: 8pt;
	text-align:left;
	padding: 0.25em;
	/* background-color: #CCCCCC; */
	border: 1px solid #666666; 
	/*background: green; */ 
}

fieldset#contentsel {
	padding: 1em;
	font: 80%/1 sans-serif;
	/*background: green; */ 
}

a {	text-decoration: none; 
	font-family: arial;
	font-size: 10pt; 
	border: 0px;
}

/*a:hover {
	font-weight: bold;
}
*/
img#action {
	margin-right: 0px;
	margin-left: 7px;
	width: 16px;
	height: 16px;
	border: 0px;
}

div#browser_content { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 10pt;
	height: 50%;
	float: left;
	position: relative;
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 2px solid #D9D9D9;
}

div#list { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 0px solid #D9D9D9;
}

/* If the link is an HTTP one, put a little icon there in front */
a#list[href^="http:"] {	
	background: url(/daq/xplore/images/www.png) left center no-repeat;
	padding-left: 20px;
	text-decoration: none; 
	font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding-top: 4pt;
	padding-bottom: 4pt;
	line-height: 200%;
	border: 0px;
}

div#info { 
	width: 100%;
	height: 16px;
	/*border: thin blue solid;*/
	background: white; 
	padding: 0px;
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 10px; 
	margin-bottom: 10px;
	padding: 0px; 
}

			    
div#panel { 
	position: relative;
	float: left;
	border: thin DarkGray solid;
	background: white; 
	padding: 0px;
	margin-left: 2px; 
	margin-top: 2px; 
	margin-right: 2px; 
	margin-bottom: 2px;
	padding: 0px; 
}

div#header { 
	position: relative;
	 /* width: 100%;  */
	/*height: 16px; */
	/* border: thin black solid; */
	background: #f2f5fc; 
	/*padding: 2px;*/
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
}

div#title { 
	position: relative;
	float: left;
	/*border: thin blue solid; */
	padding: 0px;
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: MidnightBlue;
}

div#command { 
	position: relative;
	float: right;
	/* border: thin blue solid; */
	padding: 0px;
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 8pt;
	font-style: normal;
	
}

div#content { 
	position: relative;
	/*border: thick green solid; */
	padding: 0px;
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
}

div#footer { 
	position: relative;
	/* width: 100%; */
	/* height: 12px; */
	/* border: thin black solid; */
	background: #f2f5fc; 
	/*padding: 4px;*/
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: MidnightBlue;
}

div#pagesbar {
 
	width: 100%;
	height: 30px;
	/* border: thin black solid; */
	background: LightSteelBlue; 
	/*padding: 4px;*/
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: white;
}
div#menubar { 

	width: 100%; 
	/* height: 12px; */
	/*border: thin black solid;  */
	background: white; 
	/*padding: 4px;*/
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 10px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: MidnightBlue;
}

div#page { 
	position: relative;
	width: 100%; 
	/* height: 12px; */
	/*border: thin black solid; */
	background: yellow; 
	background-color: yellow; 
	padding: 0px;
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: MidnightBlue;
}


div#column { 
	position: relative; 
	/*float: left; */
	/*height: 120px; */
	/*border: thin black solid;  No border otherwise is goes to the next line*/
	background: white; 
	padding: 0px;
	margin-left: 0px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: MidnightBlue;
	float:left; /* Do not remove this float left : is mandatory */
}

div#cheader { 
	position: relative;
	/* width: 100%;  */
	/*height: 16px;  */
	/* border: thin red solid; */
	background: LightSteelBlue; 
	padding: 4px;
	margin-left: 3px; 
	margin-top: 3px; 
	margin-right: 3px; 
	margin-bottom: 3px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: MidnightBlue;
}

div#ccommand { 
	position: relative;
	/*height: 30px; */
	/*border: thin black solid; */
	background: LightSlateGray; 
	padding: 4px;
	margin-left: 3px; 
	margin-top: 3px; 
	margin-right: 3px; 
	margin-bottom: 3px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: MidnightBlue;
	clear: both;
}

div#cinner{ 
	/*width: 100%; */
	position: relative;
	/*height: 400px; */
	/* border: thin blue solid;  */
	background: LightSteelBlue; 
	padding: 1px;
	margin-left: 2px; 
	margin-top: 0px; 
	margin-right: 2px; 
	margin-bottom: 0px;
	font-family: arial, "lucida console", sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: medium;
	color: MidnightBlue;
}


table#properties { 
	margin-top: 1em;
        border: 0px solid #666666;
}

table.properties { 
	margin-top: 1em;
        border: 0px solid #666666;
}

tbody#properties { 
        border: 0px solid #666666;
}

tbody.properties { 
        border: 0px solid #666666;
}

tr#properties_header { 
	font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;
	background-color: #ddd;
}

tr.properties_header { 
	font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;
	background-color: #ddd;
}

tr#properties_even { 
	background-color: #fff;
}

tr#properties_odd { 
	background-color: #dde;
}

td#properties_name { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 0px solid #D9D9D9;
	text-align: right;
	color: grey;
}

td.properties_name { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 0px solid #D9D9D9;
	text-align: right;
	color: grey;
}

td#properties_value { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;
	text-align: left;
	color: black;
}

td.properties_value { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;
	text-align: left;
	color: black;
}

th#properties { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 1px solid #D9D9D9;
}

th.properties { 
        font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border-left: 0px solid #D9D9D9;
	text-align: left;
}

table#buttonbar { 
	font-family: "lucida grande", verdana, sans-serif;
	font-size: 8pt;
	padding: 3px 8px;
	border: 0px;
        text-align: center; 
}

tr#buttonbar { 
}

td#buttonbar { 
        font-weight: normal;
	border-right: 1px solid #D9D9D9;
        margin: 0; 
        padding: 0px 20px;
        /*background-color: white; */

        /*width: 100%;
        height: 16px;
        border: thin blue solid;
        background: white; 
        padding: 0px;
        margin-left: 0px; 
        margin-top: 0px; 
        margin-right: 10px; 
        margin-bottom: 10px;
        padding: 0px; */
}

