<!-- views/partials/carousel.ejs -->
 <!-- div class="jumbotron">
            <h1>Enjoy  XDAQ alchemy</h1>
            <p class="lead">Select your XDAQ application below!</p>
        </div -->
        
        <div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
         <% applications.forEach((application, index) => { %>
         	<% if(index > 0){ %>
    				<li data-target="#myCarousel" data-slide-to=<%= index%>></li>
			<% } else{ %>  
    				<li data-target="#myCarousel" data-slide-to=<%= index%> class="active"></li>
			<% } %>
            
         <% }) %>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner" style="max-height:280px !important;">
        	<% applications.forEach((application, index) => { %>
        		<% if(index > 0){ %>
        			<div class="item">
        		<% } else{ %>  
    				<div class="item active">

				<% } %>
                	<a href="/<%= application.urn %>"><img style="height: 200px;" src=<%= application.icon %> alt=<%= application.class %> ></a>
                	<div class="carousel-caption">
                    <h3><%= application.class %></h3>
                    <p><%= application.urn %></p>
                    <p>as service <b><%= application.service %></b></p>
                </div>
           		</div>
			<% }) %>
        
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <br>
</div>
