<!-- views/partials/footer.ejs -->

<footer class="navbar navbar-default navbar-fixed-bottom navbar-collapse">
    <p class="text-muted" align="center">XDAQ Alchemy &copy; 2017 by Luciano ORSINI</p>
</footer>