<!-- views/partials/navbar.ejs -->
<!-- div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
        </ul>
        <h3 class="text-muted">Node.js Blog</h3>
    </nav>
</div -->

 <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           <img class="navbar-brand" src="/sorcerer/images/xdaqlogo.png" alt="Sorcerer">
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
              <li><a href="#" data-toggle="collapse" data-target="#application-carousel" ><span class="glyphicon glyphicon-film" ></span></a></li>              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/urn:xdaq-application:service=sorcerer/applications"><span class="glyphicon glyphicon-file" style="font-size:10px;"></span>&nbsp Applications</a></li>
                  <li><a href="/urn:xdaq-application:service=sorcerer/groups"><span class="glyphicon glyphicon-folder-close" style="font-size:10px;"></span>&nbsp Groups</a></li>
                  <li><a href="/urn:xdaq-application:service=sorcerer/endpoints"><span class="glyphicon glyphicon-comment" style="font-size:10px;"></span>&nbsp Endpoints</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-globe" style="font-size:10px;"></span>&nbsp Navigate Cluster</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-briefcase" style="font-size:10px;"></span>&nbsp Modules</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-tasks" style="font-size:10px;"></span>&nbsp CPU Policies</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-cd" style="font-size:10px;"></span>&nbsp Memory Policies</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-book" style="font-size:10px;"></span>&nbsp Log Information</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-info-sign" style="font-size:10px;"></span>&nbsp Process Information</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-off" style="font-size:10px;"></span>&nbsp Exit Process</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Tools</li>
                  <li><a href="#">Upload Application</a></li>
                  <li><a href="#">Debug SOAP</a></li>
                   <li><a href="#">Configure Cluster</a></li>
                  <li><a href="#">Control Cluster</a></li>
                </ul>
              </li>
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a data-toggle="modal" data-target="#about"  href="#">About</a></li>
              
              
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-th"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                	<% applications.forEach((application) => { %>
                  		<li><a href="/<%= application.urn %>"><img style="width:18px;" src="<%= application.icon %> "> <%= application.class %> </a></li>
                  		
                  	<% }) %>	
                </ul>
              </li>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-globe"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                	<% applications.forEach((application) => { %>
                  		<li><a href="#"><%= application.context %> </a></li>
                  	<% }) %>	
                </ul>
              </li>
              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
							
							  <!-- LOGIN FORM -->
   						
							
								 <form class="form" role="form" method="post" action="/login" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											 <label>Email address</label>
											 <input type="text" name="username" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
										</div>
										<div class="form-group">
											 <label>Password</label>
											 <input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
										</div>
								 </form>
							</div>
					 </div>
				</li>
			</ul>
        </li>
              <li><a href="#">
              		<% if (typeof user == 'object' && user) { %>
						<%= user.username %>
					<% } %>
			     </a>
			  </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

 



