<!-- views/partials/xdaq.ejs -->


<link href="/sorcerer/html/css/xdaq-normalize.css" rel="stylesheet" />
<link href="/sorcerer/html/css/xdaq-buttons.css" rel="stylesheet" />
<link href="/sorcerer/html/css/xdaq-generics.css" rel="stylesheet" />
<link href="/sorcerer/html/css/xdaq-layout.css" rel="stylesheet" />
<link href="/sorcerer/html/css/xdaq-fonts.css" rel="stylesheet" />
<link href="/sorcerer/html/css/xdaq-forms.css" rel="stylesheet" />
<link href="/sorcerer/html/css/xdaq-tables.css" rel="stylesheet" />
<link href="/sorcerer/html/css/xdaq-trees.css" rel="stylesheet" />
<link href="/sorcerer/html/css/xdaq-tooltips.css" rel="stylesheet" />
<link href="/sorcerer/html/css/xdaq-tabs.css" rel="stylesheet" />
<link href="/sorcerer/html/css/xdaq-console.css" rel="stylesheet\" />
<link href="/sorcerer/html/css/xdaq-hyperdaq-app-widgets.css" rel="stylesheet" />


<script type="text/javascript" src="/sorcerer/html/js/xdaq-utils.js"></script>
<script type="text/javascript" src="/sorcerer/html/js/xdaq-main-layout.js"></script>
<script type="text/javascript" src="/sorcerer/html/js/xdaq-tabs.js"></script>
<script type="text/javascript" src="/sorcerer/html/js/xdaq-treetable.js"></script>
<script type="text/javascript" src="/sorcerer/html/js/xdaq-tree-utils.js"></script>
<script type="text/javascript" src="/sorcerer/html/js/xdaq-console.js"></script>
<script type="text/javascript" src="/sorcerer/html/js/xdaq-sort.js"></script>
<script type="text/javascript" src="/sorcerer/html/js/xdaq-tablesortable.js"></script>
<script type="text/javascript" src="/sorcerer/html/js/xdaq-window-load.js"></script>

<!-- link href="/sorcerer/html/css/hyperdaqcore.css" rel="stylesheet" / -->




